# Gradle build files
.gradle/
build/
local.properties

# IDE files
.idea/
*.iml
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db

# Encrypted Files
*.enc
salt

# Environment / local files
.env

# Allow Gradle Wrapper JAR
!gradle/wrapper/gradle-wrapper.jar
