IyBHcmFkbGUgYnVpbGQgZmlsZXMKLmdyYWRsZS8KYnVpbGQvCiFncmFkbGUvd3JhcHBlci8uZ3JhZGxlLwpsb2NhbC5wcm9wZXJ0aWVzCi5ncmFkbGUvKgohZ3JhZGxlL3dyYXBwZXIvLmdyYWRsZS8qCgojIElERSBmaWxlcwouaWRlYQovLmlkZWEvCioucHJvamVjdAoucHJvamVjdAouY2xhc3NwYXRoCi5zZXR0aW5ncy8KKi5pbWwKCiMgT1MgZmlsZXMuT1NEb3Jlc291cmNlcy5wcm9wZXJ0aWVzCi5EU19TdG9yZQpUaHVtYnMuREIKLkFwcGxlRHVhbC5zdG9yZQoKIyBFbmNyeXB0ZWQgRmlsZXMKKi5lbmMKc2FsdAoKIyBQYWNrYWdlgKMgRmlsZXMKKi5qYXIKKi53YXIKKi5lYXIgenh4Cg===